  @import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

.container {
    margin-top: 450px;
    display: flex;
    justify-content: center;
    gap: 75px;
    scale: 1.25;
}

header {
    text-align: center;
}

body {
    text-align: center;
    font-family: 'Romanesco', cursive;
    background: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.collum1 img {
    border-radius: 25px;
    border: 5px solid black;
}

.collum1 {
    text-align: center;
}

.collum2 {
    text-align: center;
}

.collum3 {
    text-align: center;
}

.h1 {
    scale: 2;
    margin-top: 100px;
}

.collums:hover {
    transform: scale(1.1);
    transform: 0.5s;
    cursor: pointer;
}
