
.container {
    margin-top: 450px;
    display: flex;
    justify-content: center;
    gap: 75px;
    scale: 1.25;
    border-radius: 25px;
    border: 1px solid black;
}

header {
    text-align: center;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.collum1 {
    text-align: center;
}

.collum2 {
    text-align: center;
}

.collum3 {
    text-align: center;
}

.h1 {
    scale: 1.5;
    margin-top: 100px;
}